# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de compilação e temporários
*.o
*.so
*.ko
*.cmd
*.mod
*.order
build/
modules.order

# Shell scripts ou arquivos temporários desnecessários
*.sh
